
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#headerfp {
  width:100%;
  background-image:url("images/sandy_blue99.png");
  background-repeat:repeat-x;
  background-color:#12243f;
  height:99px;
  margin:0 auto;
  margin-bottom:1px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
},
#header_ww_fp {
  background-image: url("images/ww_plane_99_12pc.png");
  background-repeat: no-repeat;
  background-position: right;

}